<div class="book">
  <div class="book__cover">
    <img src="/images/book1.png" alt="Cover Image">
  </div>
  <div class="book__info">
    <div class="book__info__title">
      Duty Free Art: Art in the Age of Planetary Civil War
    </div>
    <div class="book__info__author">
      <div class="book__info__author__image"></div>
      <div class="book__info__author__name">
        <span>written by </span>Hito Steyerl</p>
      </div>
    </div>
    <div class="book__info__purchase-info">
      <div class="book__info__purchase-info__price">Rp 275.000</div>
      <div class="book__info__purchase-info__cta">Order Now</div>
    </div>
    <div class="book__info__funding-status__progress-bar">
      <div class="book__info__funding-status__progress-bar__funded"></div>
    </div>
    <div class="book__info__funding-status__detail">
      <p>90% of copies sold</p>
      <p>5 hours to go</p>
    </div>
  </div>
</div>
